<div class="view-container">
  <div class="view-header">
    <h2><i>Welcome to</i></h2>
    <h1>{{::waitlist.restaurant.restaurantName}}</h1>
    <p ng-cloak ng-if="waitlist.restaurant.allowPublicSignup"class="lead">Waitlist your name below and we'll text once it's your turn!</p>
    <p ng-cloak ng-if="!waitlist.restaurant.allowPublicSignup" class="lead">Find our waitlist below. To add your name, please swing by our host.</p>
  </div>
  
  <div ng-show="waitlist.restaurant.allowPublicSignup" class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Sign up to Waitlist</h3>
    </div>
    <div class="panel-body">
       <form name="addPartyForm" novalidate ng-submit="waitlist.saveParty(addPartyForm, waitlist.party)" class="form-inline party-form" >
        <div class="form-group has-feedback has-feedback-left">
          <label class="sr-only" for="partyName">Your name</label>
          <input  type="text"
                  name="partyName" 
                  id="partyName"
                  class="form-control" 
                  ng-model="waitlist.party.name"
                  placeholder="Your name" 
                  pattern="[a-zA-Z0-9 ]+"
                  title="No special characters"
                  pop="Please enter a valid name" pop-show="{{ addPartyForm.$submitted && addPartyForm.partyName.$invalid }}" pop-placement="bottom"
                  autocomplete="off"
                  required> 
          <i class="glyphicon glyphicon-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback has-feedback-left">
          <label class="sr-only" for="partyPhone">Phone number</label>
          <input type="tel"
                name="partyPhone" 
                id="partyPhone"
                class="form-control" 
                ng-model="waitlist.party.phone"
                placeholder="Phone number"
                pattern="^[0-9\-\+\s\()]{7,}$"
                title="Please enter a valid phone number"
                pop="Please enter valid number. Use country prefix outside US." pop-show="{{ addPartyForm.$submitted && addPartyForm.partyName.$valid &&addPartyForm.partyPhone.$invalid }}" pop-placement="bottom"
                autocomplete="off"
                phone-validator
                required>
          <i class="glyphicon glyphicon-earphone form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback has-feedback-left">
          <label class="sr-only" for="partySize">Party Size</label>
          <select name="partySize"
                  id="partySize"
                  class="form-control"  
                  ng-model="waitlist.party.size"
                  ng-options="opt as opt.label for opt in waitlist.partySizeOptions"
                  required>
        </select>
        <i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback has-feedback-left">
        <label class="sr-only" for="partyNotes">Special request</label>
        <input  type="text"
                name="partyNotes" 
                id="partyNotes"
                class="form-control"
                ng-model="waitlist.party.notes"
                ng-model-options="{ updateOn: 'blur' }"
                placeholder="Special request"
                autocomplete="off"/> 
        <i class="glyphicon glyphicon-pencil form-control-feedback"></i>
      </div>
      <div class="form-group">
       <button type="submit" class="btn btn-primary">Add</button>
     </div>
   </form>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading panel-waitlist">
      <h3 class="panel-title">Waitlist</h3>
      <span>
        <strong>Estimated Wait:</strong> 
        {{waitlist.avgWaitTime * (1 + waitlist.parties.length)}} min
      </span>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-centered" >
        <colgroup>
           <col span="1" style="width: 33.33%;">
           <col span="1" style="width: 33.33%;">
           <col span="1" style="width: 33.33%;">
        </colgroup>
        <thead>
         <tr>
          <th class="col-md-4">Guest</th>
          <th class="col-md-4">Arrived</th>
          <th class="col-md-4">Phone</th>
        </tr>
      </thead>
      <tbody>
       <tr class="animate-row" ng-repeat="party in waitlist.parties | orderBy: 'dateCreated'" title="Add your party to the waitlist above">
          <td class="col-md-4">
            <div>
              <div>
                <span class="glyphicon glyphicon-user"></span>
                <strong>{{::party.name}}</strong>
              </div>
              <div>
                <ng-pluralize count="party.size" when="
                  {'1': '1 guest',
                  '7': '7 or more guests',
                  'other': '{} guests'}">
                </ng-pluralize>
            </div>
          </div>
        </td>
        <td class="col-md-4">
         <div>
              <span class="glyphicon glyphicon-time"></span>
              {{::party.dateCreated | date:'shortTime'}}
          </div>
       </td>
       <td class="col-md-4">
         <div>
            <span class="glyphicon glyphicon-phone"></span>
            <a href="tel:{{party.phone}}">{{::party.phone }}</a>
          </div>
       </td>
     </tr>
    </tbody>
   </table>
  <div ng-cloak ng-if="waitlist.parties.length == 0">
    <p class="text-center text-danger">
      You are first in line :)
    </p>
  </div>
  </div>
</div>
</div>